<section class="footer bg-dark">
    <div class="container">
        <div class="row">
            <div class="header">
                <div class="title">
                    <fa-icon class="icon" [icon]='faCartFlatbed'></fa-icon>
                    <div class="text-container">
                        <h5>Free Shipping</h5>
                        <p>when Ordering over $100</p>
                    </div>
                </div>
                <div class="title">
                    <fa-icon class="icon" [icon]='faRotateRight'></fa-icon>
                    <div class="text-container">
                        <h5>Free Return</h5>
                        <p>Get Return within 30 days</p>
                    </div>
                </div>
                <div class="title">
                    <fa-icon class="icon" [icon]='faCreditCard'></fa-icon>
                    <div class="text-container">
                        <h5>Secure Payment</h5>
                        <p>100% secure Online Payment</p>
                    </div>
                </div>
                <div class="title">
                    <fa-icon class="icon" [icon]='faAward'></fa-icon>
                    <div class="text-container">
                        <h5>Best Quality</h5>
                        <p>Original Product Guaranteed</p>
                    </div>
                </div>
            </div>
            <div class="link-wrap">
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="items-list">
                        <div class="title">
                            <fa-icon class="icon" [icon]='faCartShopping'></fa-icon>
                            <h3 class="list-heading">E-Store</h3>
                        </div>
                        <ul class="list-style">
                            <li>Track Order</li>
                            <li>Delivery & Returns</li>
                            <li>Warranty</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="items">
                        <h3>About-Us</h3>
                        <ul>
                            <li>Rave's Story</li>
                            <li>Work With Us</li>
                            <li>Corporate News</li>
                            <li>Investors</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="items">
                        <h3>Useful-Links</h3>
                        <ul>
                            <li>Secure Payment</li>
                            <li>Privacy Policy</li>
                            <li>Terms of Use</li>
                            <li>Archived Products</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="items">
                        <h3>Contact-Info</h3>
                        <div class="mid-bottom-title">
                            <fa-icon class="icon" [icon]='faLocationDot'></fa-icon>
                            <div class="text-container">
                                <h5>Address :</h5>
                                <p>Near Tejumal Chakky,opp bk.no-122,Ulhasnagar-421001</p>
                            </div>
                        </div>
                        <div class="mid-bottom-title">
                            <fa-icon class="icon" [icon]='faSquarePhone'></fa-icon>
                            <div class="text-container">
                                <h5>Phone :</h5>
                                <p>+91-7894561231</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>