<section class="profile-section">
    <div class="container">
        <div class="row">
            <h5 class="profile">My Profile</h5>
            <div class="card">
                <div class="col-md-12 col-12">
                    <div class="all-wrap">
                        <!-- <h4 class="back-btn"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                viewBox="0 0 24 24" fill="none">
                                <path d="M9.57 5.92993L3.5 11.9999L9.57 18.0699" stroke="#3764EB" stroke-width="1.5"
                                    stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                                <path d="M20.4999 12H3.66992" stroke="#3764EB" stroke-width="1.5" stroke-miterlimit="10"
                                    stroke-linecap="round" stroke-linejoin="round" />
                            </svg>Back
                        </h4> -->
                        <div class="content">
                            <div class="edit-icon" (click)="enableEditing()">
                                <span>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="#3764EB"
                                        class="bi bi-pencil-square" viewBox="0 0 16 16">
                                        <path
                                            d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                        <path fill-rule="evenodd"
                                            d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                                    </svg>
                                </span>
                            </div>
                        </div>
                        <div class="rectangle-box col-12">
                            <div class="row">
                                <div class="col-md-6 col-6">
                                    <h5 class="branch">Personal Information</h5>
                                </div>
                                <!-- <div class="col-md-6 col-6 text-end">
                                <h5 class="password" (click)="onChange()">Change Password</h5>
                              </div> -->
                                <div class="tax-no col-6">
                                    <label class="label-info">Status</label>
                                    <p class="info"><b>{{ userData?.record_status }}</b></p>
                                </div>
                                <div class="tax-no col-6">
                                    <label class="label-info">User Name</label>
                                    <p class="info"><b>{{userData?.username}}</b></p>
                                </div>
                                <div class="branch-name col-6">
                                    <label class="label-info">Email Address</label>
                                    <p class="info"><b>{{ userData?.email }}</b></p>
                                </div>
                                <div class="tax-no col-6">
                                    <label class="label-info">Mobile</label>
                                    <p class="info"><b>{{ userData?.mobile }}</b></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>