<!-- brand-list.component.html -->

<div class="parent">
    <div class="mat-table">
        <table mat-table [dataSource]="customerData" class="mat-elevation-z8">
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef>Product Name</th>
                <td mat-cell *matCellDef="let brand">{{ brand.PRODUCT_NAME }}</td>
            </ng-container>

            <ng-container matColumnDef="order_date">
                <th mat-header-cell *matHeaderCellDef>Order Date</th>
                <td mat-cell *matCellDef="let brand">{{ brand.CREATED_DATE| date:'dd/MM/yyyy' }}</td>
            </ng-container>

            <ng-container matColumnDef="price">
                <th mat-header-cell *matHeaderCellDef>Price</th>
                <td mat-cell *matCellDef="let brand">{{ brand.TOTAL_PRICE }}</td>
            </ng-container>
            <ng-container matColumnDef="cname">
                <th mat-header-cell *matHeaderCellDef>Customer Name</th>
                <td mat-cell *matCellDef="let brand">{{ brand.CUSTOMER_NAME }}</td>
            </ng-container>
            <ng-container matColumnDef="cemail">
                <th mat-header-cell *matHeaderCellDef>Customer Email</th>
                <td mat-cell *matCellDef="let brand">{{ brand.CUSTOMER_EMAIL }}</td>
            </ng-container>
            <ng-container matColumnDef="cmobile">
                <th mat-header-cell *matHeaderCellDef>Customer Mobile</th>
                <td mat-cell *matCellDef="let brand">{{ brand.CUSTOMER_MOBILE }}</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
</div>