<!-- sidebar.component.html -->
<aside class="sidebar">
    <ul>
        <li>
            <a routerLink="/admin">
                <i class="fas fa-home"></i> Dashboard
            </a>
        </li>
        <li>
            <a routerLink="/admin/profile">
                <i class="fas fa-user"></i> Profile
            </a>
        </li>
        <li>
            <a routerLink="/admin/customers">
                <i class="fas fa-building"></i> Customers
            </a>
        </li>
        <li>
            <a routerLink="/admin/category">
                <i class="fas fa-building"></i> Category
            </a>
        </li>
        <li>
            <a routerLink="/admin/subcategory">
                <i class="fas fa-building"></i> Sub-Category
            </a>
        </li>
        <li>
            <a routerLink="/admin/brands">
                <i class="fas fa-bullhorn"></i> Brands
            </a>
        </li>
        <li>
            <a routerLink="/admin/products">
                <i class="fas fa-bullhorn"></i> Products
            </a>
        </li>
        <li>
            <a routerLink="/admin/customer-order">
                <i class="fas fa-bullhorn"></i> Customer Order
            </a>
        </li>
        <!-- Add more navigation links as needed -->
    </ul>
</aside>